<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="CS" connectionString="Data Source=sql6004.site4now.net;Initial Catalog=DB_A37AAE_dktrans; User ID=DB_A37AAE_dktrans_admin; Password='P@ssw0rd';" providerName="System.Data.SqlClient"/>-->
    <add name="CS" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=dk-trans;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation targetFramework="4.0" />
    

    

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
